* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color:#2F1793;
  padding: 10px 20px ;
  position: sticky;

}
nav a {
  text-decoration: none;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.navleft {
  text-align: center;
 
}

.navcenter ol {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 10px;
  
}

.navright-buy{
  padding: 1px 5px;
  background-color: rgba(0, 255, 255, 0.76);
  border-radius: 5rem;
  font-size: 10px;
}
