* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
}
nav {
  background-color: rgba(128, 0, 128, 0.781);
  padding: 10px ;
  

}
nav a {
  text-decoration: none;
}
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.navleft {
  text-align: center;
}

.navcenter ol {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 40px;
  align-items: center;
  
}

.navright {
  padding: 5px 15px;
  background-color: rgba(0, 255, 255, 0.76);
  border-radius: 5rem;
}
